<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.music_player">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.android.music_player.activities.RecentlyAllMusicActivity" />
        <activity android:name="com.android.music_player.activities.PlayActivity" />
        <activity android:name="com.android.music_player.activities.EqualizerActivity" />
        <activity android:name="com.android.music_player.activities.SettingsActivity" />
        <activity android:name="com.android.music_player.activities.TimerActivity" />
        <activity android:name="com.android.music_player.activities.SearchActivity" />
        <activity android:name="com.android.music_player.activities.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.android.music_player.activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.MUSIC_PLAYER" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.APP_MUSIC" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.android.music_player.widget.MusicWidget4x1"
            android:label="Music Player">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetprovider4x1" />
        </receiver>
        <service android:name="com.android.music_player.services.MediaPlayerService"
            android:exported="false"
            tools:ignore="ExtraText">
            <intent-filter>
                <action android:name="com.droidheat.musicplayer.action.IS_PLAY"/>
                <action android:name="com.droidheat.musicplayer.action.SEEK"/>
                <action android:name="com.droidheat.musicplayer.action.CLOSE" />
                <action android:name="com.droidheat.musicplayer.action.PLAY_PAUSE" />
                <action android:name="com.droidheat.musicplayer.action.PLAY" />
                <action android:name="com.droidheat.musicplayer.action.REPEAT" />
                <action android:name="com.droidheat.musicplayer.action.TRACK_PREV" />
                <action android:name="com.droidheat.musicplayer.action.TRACK_NEXT" />
                <action android:name="com.droidheat.musicplayer.action.PERSISTENT_NOTIFICATION" />
                <action android:name="android.intent.action.HEADSET_PLUG" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

    </application>

</manifest>